.card {
  height: 180px;
  width: 180px;
  background-color: white;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.card:hover {
  background-color: #ccc;
  margin-top: 10px;
  transition: 0.3s;
  height: 170px;
  width: 170px;
  cursor: pointer;
}

.img {
  width: 175px;
  height: 175px;
}

.cardTitle {
  margin-bottom: -10px !important;
  margin-left: -15px !important;
  width: 170px;
  font-size: 13px;
}
