.pokemonInfo {
  background-color: #7a99c7;
  width: 275px;
  min-height: 100px;
  max-width: 80%;
  height: 125px;
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
}

.titleInfo {
  margin-bottom: -10px;
  color: white;
}

.pokemonTypes {
  margin-bottom: -5px;
}
