/* .divPai {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.showPokemonPage {
  min-width: 500px;
  width: 550px;
  min-height: 500px;
  margin-top: 30px !important;
  background-color: #fcfcfc;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-size: 40px;
}

.imgPokemon {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;

}
.infoDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
} */

.divPai {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgPokemon {
  max-width: 100%;
  min-width: 30%;
  width: 350px;
  max-height: 100%;
  margin-right:100px;
  
}

.showPokemonPageCard {
  width: 65%;
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.cardInfo {
  /* margin-right: -100px !important; */
}
