.showPokemonPageCard {
  width: 700px;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgDiv {
  margin-right: 20px;
  max-width: 100%;
}

.dadosDiv {
  margin-left: 20px;
  max-width: 100%;
}

.divPai {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgPokemon {
  width: 300px;
  max-width: 100%;
}
