.navbar {
  background-color: #e63946;
  border-radius: 5px;
}
.title {
  padding: 4px;
  border-radius: 3px;
  transition: 0.3s;
}
.title:hover {
  transition: 0.5s;
  opacity: 0.8;
  cursor: pointer;
  background-color: #d12834;
}
span {
  color: white;
}
.icon {
  height: 30px;
  margin: 0 5px -7px 0;
}
