<mat-card class="divCard">
  <div class="dados">
    <div class="dado">
      HP - {{hp}}
      <mat-progress-bar mode="determinate" value={{hp}}></mat-progress-bar>
    </div>
    <div class="dado">
      Ataque - {{attack}}
      <mat-progress-bar mode="determinate" value={{attack}}></mat-progress-bar>
    </div>
    <div class="dado">
      Defense - {{defense}}
      <mat-progress-bar mode="determinate" value={{defense}}></mat-progress-bar>
    </div>
    <div class="dado">
      Speed - {{speed}}
      <mat-progress-bar mode="determinate" value={{speed}}></mat-progress-bar>  
    </div>
  </div>



</mat-card>